{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/login/" method="post">
              {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <h2 class="text-center">欢迎登录</h2>
              <div class="form-group">
                  {{ login_form.username.label_tag }}
                  {{ login_form.username}}
              </div>
              <div class="form-group">
                  {{ login_form.password.label_tag }}
                  {{ login_form.password }}
              </div>
              <div class="form-group">
                  {{ login_form.captcha.errors }}
                  {{ login_form.captcha.label_tag }}
                  {{ login_form.captcha }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block script %}
      <script>
    $(function () {
        $('.captcha').click(function(){
            console.log('click');
            $.getJSON("/captcha/refresh/",
                  function(result){
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
          })
        })

        $('#id_captcha_1').blur(function () {
            json_data={
                'response':$('#id_captcha_1').val(), // 获取输入框和隐藏字段id_captcha_0的数值
                'hashkey':$('#id_captcha_0').val()
            }
            $.getJSON('/ajax_val',json_data,function (data) {
                $('#captcha_status').remove()
                if(data['status']){
                    $('#id_captcha_1').after('<span id="captcha_status" >*验证码正确</span>')
                }else{
                    $('#id_captcha_1').after('<span id="captcha_status" >*验证码错误</span>')
                }
            })
        })
    })
    </script>
{% endblock %}